.fparent img{
    height:65px;
}
.freeparent,.fparent,.fparent1 , .fparent2,.free1,.free2,.footer{
    display: flex;;
}
.freeparent{

    width:60%;
    border:2px solid white;
    margin:10px auto;
 
    background-color:#2F2F2F;
    flex-direction: column;
}
.fparent{
    justify-content: space-around;
    border-bottom: 2px solid white;
}


.free1,.free2{
    margin-top:15px;
    flex-direction: column;
    align-items: flex-start;
}

.free2{
    align-items: flex-end;
}
.footer{
    
    justify-content: space-around;
}